scipy==1.2.0
requests==2.21.0
django_rest_swagger==2.2.0
Django==1.11.29
pandas==0.23.4
numpy==1.16.2
BeautifulSoup==3.2.1
django_jsonfield==1.2.0
nltk==3.4.1
djangorestframework==3.9.4
scikit_learn==0.21.1
